/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}
header{font-size:40px;background: red;text-align:center}
aside{font-size:20px;background: greenyellow;float:left;width:20%;padding: 10px;}
content{float:right;width:80% ;padding: 10px;}
footer{font-size:40px;background: white;float:left;text-align: center}